div {
    width: 50%;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}
p {
    /*padding: 5px;*/
    background: wheat;
    border: solid 1px black;
}
a {
    border: 1px solid red;
    padding: 15px;
}

div.dimension {
    min-width: 250px;
    max-width: 400px;
    background: blue;
    /*Arriba, derecha, abajo, izquierda con las menecillas del reloj*/
    margin: 20px 50px 100px 30px;
    padding: 25px 30px;
}

